
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="./footer.css">


</head>

<body >
    <div style="height:70px;background-color:black;" >
        <div class="text-center center-block">
              <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>

    </div>
</body>
</html>
